.section {
    background-color: #fff;
    border-radius: 10px;
}

.header {
    text-align: start;
    background-color: #002A84;
    font-size: 14px;
    border-radius: 0px 0px 40px 40px;
    margin-bottom: 20px;
    padding: 20px 60px;
    gap: 10%;
    height: 150px;
}

.header .saldo h1{
    font-size: 20px;
}

.header .saldo h2{
    font-size: 20px;
    font-weight: 900;
}

.img{
    height: 100px;
    width: 100px;
    border: solid 2px #C2620A;
    border-radius: 50%;
    transform: translate(50%,30%);
    background-color: #9f9f9f;
}

.action {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.action h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.action button {
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #fff;
}

.action button:hover {
    color: #C2620A;
}

.transacoes {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #000;
}

.transacoes h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.transacoes td {
    padding: 0px 10px 10px 0px;
}


.cartao {
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, blue, #C2620A);
    opacity: 0.9;
}

.cartao h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.opcoes{
    color: #000;
}
.opcoes-box{
    background-color: #9f9f9f28;
}
.opcoes h2{
    font-size: 20px;
}
.opcoes button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}