<div class="section">
    <div class="header row">
        <div class="col-md-12 d-flex justify-content-between">
            <span>Olá, {{user}}
                <i class="bi bi-chevron-right"></i>
            </span>
            <span>
                <i class="bi bi-box-arrow-right"></i>
                Sair
            </span>
        </div>
        <img src="../../assets/perfil.png" class="img" alt="">
        <div class="saldo d-flex flex-column justify-content-center">
            <h2>Saldo:</h2>
            <div class="d-flex text-align-center">
                <h2 class="d-flex align-items-center">R$</h2>
                <input type="number" value="1000.00" disabled="disabled">
                <i class="bi bi-eye-slash p-1" (click)="changeViewSaldo()"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="action d-flex align-items-center">
                <button class="d-flex flex-column align-items-center">
                    <i class="bi bi-x-diamond-fill"></i>
                    Pix
                </button>
                <button class="d-flex flex-column align-items-center">
                    <i class="bi bi-bar-chart-line"></i>
                    Extrato
                </button>
                <button class="d-flex flex-column align-items-center">
                    <i class="bi bi-arrow-left-right"></i>
                    Transferência
                </button>
                <button class="d-flex flex-column justify-content-center align-items-center">
                    <i class="bi bi-credit-card"></i>
                    <span>Crédito</span>
                </button>
            </div>
        </div>

        <div class="transacoes col-md-6 d-flex flex-column align-items-center">
            <div class="d-flex align-items-center justify-content-evenly">
                <h2>Últimas Transações</h2>
                <i class="bi bi-chevron-right"></i>
            </div>
            <table>
                <tr *ngFor="let transacao of transacoes">
                    <td><i class="bi bi-arrow-bar-{{transacao.tipo}}"></i></td>
                    <td>{{transacao.nome}}</td>
                    <td>R$ {{transacao.valor}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="cartao row w-75">
                <h2 class="col-md-12">Cartão de Crédito</h2>
                <div class="fatura col-md-6 text-center">
                    <span>Fatura Atual<br></span>
                    <span>R$ 500,00</span>
                </div>
                <div class="limite col-md-6 text-center">
                    <span>Limite Disponível<br></span>
                    <span>R$ 2.000,00</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="opcoes d-flex flex-column align-items-center">
                <h2>Acesse as opções</h2>
                <div class="opcoes-box d-flex flex-column align-items-center justify-content-center p-3 w-75 rounded">
                    <button class="m-2 w-75">
                        Programa de Pontos
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="m-2 w-75">
                        Crédito Pessoal
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="m-2 w-75">
                        Documentos
                        <i class="bi bi-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>