.section {
    background-color: #fff;
    border-radius: 10px;
}

.saldo {
    text-align: start;
    background-color: #002A84;
    font-size: 14px;
    border-radius: 0px 0px 40px 40px;
    margin-bottom: 20px;
    padding: 20px;

}

.action {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.action h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.action button {
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.action button:hover {
    background-color: #001F5B;
}

.transacoes {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #000;
}

.transacoes h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.transacoes td {
    padding: 0px 10px 10px 0px;
}


.cartao {
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.cartao h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.opcoes{
    color: #000;
}
.opcoes h2{
    font-size: 20px;
}
.opcoes button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}