 <app-navbar [navbarButton]="navbarButton" [navButtonRoute]="route" />
    <main class="d-flex flex-column w-100">
       
         <div  class="img-home w-100"> </div>

         <div class=" container d-flex gap-4 mt-5 flex-wrap flex-lg-nowrap justify-content-around ms-2 me-2 mb-4">
             <div class="text-center">
            <h3>Prepare-se para decolar com o <br>
                 Apollo Bank </h3>
         </div>
         <div class="button-open mt-1 p-3 mb-3 float-left">
            <button routerLink="/register" class="btn btn-default mb-3 justify-content-center">Abra sua conta</button>
         </div>
         
         </div>

    </main>
    <app-footer />
