*{
  font-family:sans-serif;
}
::placeholder {
  color: rgb(89, 85, 85) !important;
  text-align: center;
}
h2 {
 
  font-family: 'Nasalization', sans-serif;
}
label{
  font-size: 18px;
  font-weight: bold;
}

.btn-primary{
  background-color: var(--laranja) !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 30px;
  padding: 15px;
  margin-right: 20px;
}

.center-form{
  margin: 10px auto;
}


.tecla {
  background-color: #F86B02;
  border: 1px solid #d2d2d248;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 12px;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 2px 3px 4px #cccccc55;
  transition: all 200ms ease-in;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 18px;
}
a.tecla:hover { background: #F86B02; color: #fff !important; border: 1px solid #757575; }

.magin-top{
  margin-top: 40px;
}
