<div class="container">
  <div class="row justify-content-center">
    <h4 class="text-center mb-5">Prepare-se para decolar com o <br /> Apollo Bank</h4>
    <div class="col-lg-7 col-md-4 col-sm-10">
      <div class="form-group">
        <label for="exampleInputEmail1" >Digite sua senha de 6 dígitos:</label>
        <input class="form-control" placeholder="**********" disabled [(ngModel)]="passwordMask" type="password" maxlength="6">
        <p *ngIf="erroMessage" class="error-message">{{ erroMessage }}</p>
      </div>
      <div class="row row-cols-4  align-items-center justify-content-center">
        <div class="col-9 mb-4 mt-4"> 
        </div>
        @for (pairPass of pairPasswordNums; track $index) {
        <button class="tecla   col" (click)="addToPassword(pairPass)">{{pairPass.fisrtNum}} ou {{pairPass.secondNum}}</button>
        }
        <button class="tecla col"(click)="deletePassword()" ><img src=" assets/images/Backspace.png" alt="Descrição da imagem">
        </button>
      </div>
      <button class="btn btn-primary w-100 "  (click)="isPasswordCorrect()">Login</button>
  
    </div>
    <a routerLink="/not-found" class="text-center pt-4 link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
      Esqueci minha senha</a>
  </div>
</div>





