<div class="container">
  <section class="row align-items-center justify-content-center">
    <h2 class="text-center mt-5">Prepare-se para decolar com o <br /> Apollo Bank</h2>
      <div class="  col-md-10 d-flex align-items-center justify-content-center">
          <form class="w-100 mt-4"> 
              
            <div class="center-form">  
            <div class=" col-md-10">
                  <label for="exampleInputEmail1" class="form-label">Digite sua senha de 6 dígitos:</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="**********">
              </div>

        <div class="container text-center mt-5 ">
            <div class="row row-cols-4">
                <a aria-label="0 ou 4" class="tecla campoTeclado col">0 ou 4</a>
                <a aria-label="1 ou 5" class="tecla campoTeclado col">1 ou 5</a>
                <a aria-label="2 ou 6" class="tecla campoTeclado col">2 ou 6</a>
                <a aria-label="3 ou 7" class="tecla campoTeclado col">3 ou 7</a>
                <a aria-label="8 ou 9" class="tecla campoTeclado col">8 ou 9</a>
                <a class="tecla icon col-md-3" aria-label="apagar todo o campo de senha de acesso" id="btnApagar">
                    <img src="assets/images/Backspace.png" alt="">
                </a>
            </div>
        </div>

              <div class="d-grid gap-1 ">
                  <button class="btn btn-primary" type="button">Login</button>
              </div>
            </div>

          </form>
      </div>
  </section>
</div>