*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
::placeholder {
  color: rgb(89, 85, 85) !important;
  text-align: center;
}
h3 {
 
  font-family: 'Nasalization', sans-serif;
}




.btn-primary{
  background-color: var(--laranja) !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin-right: 20px;
}

.center-form{
  margin: 10px auto;
}
.margi{
  margin: 10px auto;
}

.tecla {
  background-color: #F86B02;
  border: 1px solid #d2d2d248;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 10px !important;
  margin-right: 10px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 2px 3px 4px #cccccc55;
  transition: all 200ms ease-in;
  position: relative;
  display: inline-block;
  text-align: center;
}
a.tecla:hover { background: #F86B02; color: #fff !important; border: 1px solid #757575; }

.magin-top{
  margin-top: 40px;
}
