
<div class="container">
  <section class="row align-items-center justify-content-center">
    <h2 class="text-center mt-5">Prepare-se para decolar com o <br /> Apollo Bank</h2>
      <div class="  col-md-9 d-flex align-items-center justify-content-center">
          <form class="w-100 mt-4"> 
              <div class=" w-100">
                  <label for="exampleInputEmail1" class="form-label">Digite sua senha de 6 dígitos:</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="**********">
              </div>

            
         <div class="magin-top col-md-12 d-flex align-items-center justify-content-center">
            <div class="teclas">
                <div class="linha">
                    <a  aria-label="0 ou 4" class="tecla campoTeclado">0 ou 4</a>
                    <a  aria-label="1 ou 5" class="tecla campoTeclado">1 ou 5</a>
                    <a  aria-label="2 ou 6" class="tecla campoTeclado">2 ou 6</a>
                </div>
                <div class="linha">
                    <a  aria-label="3 ou 7" class="tecla campoTeclado">3 ou 7</a>
                    <a  aria-label="8 ou 9" class="tecla campoTeclado">8 ou 9</a>
                    <a  class="tecla icon" aria-label="apagar todo o campo de senha de acesso" id="btnApagar">
                        <img src="assets/images/Backspace.png" alt="">
                    </a>
                </div>
            </div>
         </div>

              <div class="d-grid gap-2 borda ">
                  <button class="btn btn-primary" type="button">Login</button>
              </div>
          </form>
      </div>
  </section>
</div>