*{
  font-family: 'Poppins', sans-serif; 
}
::placeholder {
  color: rgb(89, 85, 85) !important;
  text-align: center;
}
h2 {
 
  font-family: 'Nasalization', sans-serif;
}


.btn-primary{
  background-color: var(--laranja) !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border: none;
}