
<div class="total-box">
    <form [formGroup]="withdrawForm" (ngSubmit)="onSubmit()">
       

        <div class="one">
            <!-- <div class="input-information d-flex flex-column w-25 pt-2"> -->
                <label>Insira um valor para sacar</label>
                <input type="text" placeholder="digite o valor" formControlName="saque">
            </div>
        </div>

       

        <div class="two">
        
            <!-- <div class="input-information d-flex flex-column w-25 pt-2"> -->
                <label>Confirme o valor</label>
                <input type="text" placeholder="confirme" formControlName="confirm">
            </div>
        </div>

        <button type="submit" [disabled]="withdrawForm.invalid">Continuar</button>
    </form>
</div>
