<div class="container mt-5">
    <section class="row">
        <div class="col-md-12">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nome</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Digite aqui seu nome.">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Telefone</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Digite aqui seu telefone.">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Digite aqui seu email.">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">CPF</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Digite aqui seu CPF.">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Data de Nascimento</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Digite aqui sua data de nascimento.">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Concordo com as diretrizes.
                    </label>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button">Seja Apollo Bank</button>

                </div>
            </form>
        </div>

    </section>
</div>