<div class="total-content">
    <h3>Confirme as informações <i class="bi bi-arrow-left-right pl-2"></i></h3>

    <div class="total-box">
        

        <form class="d-flex flex-column">
            <div class="one">
                <h2>conta de origem</h2>
                <div class="input-information d-flex flex-column w-25 pt-2">
                    <label>conta</label>
                    <p>22587</p>
                </div>
            </div>
    
            <div class="two">
                <h2>conta de destino</h2>
                <div class="input-information d-flex flex-column w-25 pt-2">
                    <label>conta</label>
                    <input type="text"  formControlName="valor">
                </div>
            </div>

            <div class="three">
                <div class="input-information d-flex flex-column w-25">
                    <label>valor</label>
                    <input type="text"  formControlName="descricao">
                </div>
            </div>
    
    
            <div class="four">
                <div class="input-information d-flex flex-column w-25">
                    <label>descrição</label>
                    <input type="text" placeholder="insira uma descrição" formControlName="descricao">
                </div>
            </div>
    
            <div class="buton pt-1 d-flex">
            <button  (click)="goToNextStep()" type="submit">Confirmar</button>
            <button (click)="goBackClicked()">Voltar</button>
            </div>
            
        </form>

    </div>


</div>
