<div class="total-content d-flex flex-column justify-content-center pl-2">
    
    <h3>Transferência realizada com sucesso!</h3>

    <div class="total-box d-flex flex-column">
        <p class="pl-2">R$ 10,00</p>

        <div class="from pl-2">
            <p class="blue-letter">de</p>
            <p>acc.number</p>
        </div>

        <div class="from pl-2">
            <p class="blue-letter">de</p>
            <p>acc.number</p>
        </div>

        <div class="to pl-2">
            <p class="blue-letter">para</p>
            <p>acc.number</p>
        </div>

        
        <div class="date pl-2">
            <p class="blue-letter">realizada em</p>
            <p>13/03/02024</p>
        </div>

        <p class="blue-letter pl-2">via ApolloBank</p>

    </div>
    

</div>

