<nav class="navbar navbar-expand-xl">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand d-flex" href="#">
            <img src="assets/images/logo.svg" alt="logo ApolloCoders">
            <h1 class="text-center my-auto custom-h1">Apollo Bank</h1>
        </a>

        <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="#">Início</a>
            <a class="nav-link" href="#">Fazer login</a>
            <a class="nav-link" href="#">Ajuda</a>
        </div>

    </div>
</nav>