.custom-h1 {

    color: var(--laranja);
    flex-grow: 1;
    text-align: center;
}

.custom-h1:hover {
    color: var(--azul-escuro);
}

* {
    font-size: 0.875rem;
    font-family: "Nasalization";
    color: var(--azul-escuro);
}

a:hover {
    color: var(--laranja);
}

.custom-nav {
    z-index: 1000;
    
}