<div class="container-fluid vh-100">
    <div class="d-flex flex-column justify-content-around h-75 text-center mt-5">
        <div class="mt-5">
            <h3 class="fs-1">
                {{title}}
            </h3>
        </div>
        <div class="my-auto fs-2">
            <p>
                {{paragraph}}
            </p>
        </div>
        <div class="mb-3 pb-3 d-flex align-items-center justify-content-evenly gap-2">
            <button class="custom-btn p-2" routerLink="/login">{{buttonText}}</button>
        </div>
    </div>
</div>
