<div class="row container-fluid">
    <div class="img col-md-6 div-left">
    </div>
    <div class="col-md-6 ">
        <div class="with-background"></div>
    <div class="form-end">
        <app-navbar [navbarButton]="navbarButton" [navButtonRoute]="route"></app-navbar>
       <div class="test  d-flex justify-content-center">
        <div class="form-right ">
            <app-login-form  *ngIf="FormLogin"  (formCompleted)="switchToSubsequentForm()"></app-login-form>
            <app-password-form class="FormPassword"  *ngIf="FormPassword"></app-password-form>
        </div>
       </div>
    </div>
    </div>
</div>