<body>

    <div class="row">
        <div class="div-left col-md-6"></div>
        <div class="div-right col-md-6">
            <app-navbar></app-navbar>
            <div class="with-background"></div>
            <div class="form-end">
                <div class="d-flex align-items-center justify-content-center mt-5">

                    <div class="center-itens">
                        <h2 class="text-center mt-5">Prepare-se para decolar com o <br /> Apollo Bank</h2>
                        <div class="col-md-12 container-fluid d-flex justify-content-center form-center">
                            <form class="w-100 mt-5">
                                <label for="basic-url" class="text-start mb-3">Digite seu CPF</label>
                                <div class="input-group mb-3 rounded-0">
                                    <input
                                        class="form-control currency border border-top-0 border-right-0 border-left-0"
                                        placeholder="133.143.312-32" required>
                                </div>
                                <button type="submit" class="btn btn-style w-100 mt-3">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>